@font-face {
  font-family: "Gilroy-Bold";
  src: url(./fonts/Gilroy-Bold.woff2);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(./fonts/Gilroy-Medium.woff2);
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url(./fonts/Gilroy-Semibold.woff2);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #fff;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img {
  max-width: 100%;
  display: block;
}

.conteiner {
  width: 1170px;
  margin: 0 auto;
}

header {
  padding-top: 40px;
  margin-bottom: 84px;
}

.header__wrapper {
  display: flex;
  gap: 500px;
  align-items: center;
}

.navigation {
  width: 533px;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  color: #000;
  font-size: 14px;
  font-family: "Gilroy-SemiBold";
}

.icon {
  display: flex;
  gap: 3px;
  align-items: baseline;
}

.navigation__link:focus {
  color: #f25822;
}

main {
  margin-bottom: 162px;
}

.content__wrapper {
  display: flex;
  justify-content: space-between;;
}

.content__block {
  width: 522px;
}

.content__maintitle {
  color: #000;
  font-size: 60px;
  margin-bottom: 17px;
}

.content__description {
  width: 466px;
  color: #888;
  font-size: 20px;
  font-family: Gilroy-Medium;
  margin-bottom: 37px;
}

.contents__btns {
  display: flex;
  gap: 72px;
}

.contents__btns__btn {
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 15px;
  padding: 15px 35px;
  border: none;
  cursor: pointer;
}

.contents__btns__btn:hover {
  color: #aaa;
  background: none;
}

footer {
}

.logos {
  display: flex;
  justify-content: space-between;
  padding: 97px 0 97px 0;
}
